@page "/"
<h3>Instructions</h3>
<p>
    This online tool will produce a grid of random characters which contains a secret string of characters, or <b>key</b>.
    The key can be retrieved by tracing a sequence of known coordinates within the grid.
</p>
<p>
    Follow the instructions to produce the grid of characters and a standalone HTML page which can be saved in a public location
    online.  Then you'll have access to your secret key while knowing only the online location and the sequence of grid coordinates.
</p>
<p>
    For security purposes, <b>your secret key never leaves this computer</b>.  
    Feel free to disconnect network access while using this tool.
</p>

@code {
    
}