@page "/about"
<h3>About</h3>
<p>
    This open-source project is <a href="https://github.com/p33t/keyhidegen">hosted on GitHub</a> and
    is a <a href="https://www.freshcode.biz/">freshcode.biz</a> innovation.
</p>